* {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin: 0;
}
.keyword-posts-title {
  text-align: center;
  font-size: 3em;
}
.post-div {
  border-radius: 5px;
  border-width: 1px;
  margin: 2em 4em;
  padding: 2em 2em;
  position: relative;
  background-color: hsla(0, 0%, 0%, 0.05);
}
.post-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.5em;
}
.post-content {
  overflow-wrap: break-word;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 1em;
}
.post-author {
  position: absolute;
  left: 1em;
  bottom: 1em;
}
.post-date {
  position: absolute;
  right: 1em;
  bottom: 1em;
}
.post-keyword {
  margin-bottom: 1em;
  text-align: center;
}
.post-match-percent {
  position: absolute;
  left: 1em;
  top: 1em;
  padding: 1em 0.5em;
  font-size: 1.13em;
  border-radius: 25%;
}
.alert-config-title {
  text-align: center;
}
.alert-config {
  width: fit-content;
  margin: auto;
}
.interval-container {
  width: fit-content;
  margin: auto;
  position: relative;
}
.current-interval {
  position: absolute;
  width: 5em;
  top: 1em;
  margin-left: 1em;
}
.keyword-div-container {
  margin-top: 2em;
}
.keywords-title {
  text-align: center;
  margin-bottom: 2em;
}
.keyword-input-container {
  width: fit-content;
  margin: auto;
  position: relative;
}
.keyword-input {
}
.add-keyword-button {
  position: absolute;
}
.save-container-div {
  width: fit-content;
  margin: auto;
  margin-top: 2em;
}
